KAFKA_IMAGE="apache/kafka:4.2.0"
KAFKA_CLUSTER_ID="EiaOKUf-Sla_kBdzWXNfew"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/netflix-wal"
KAFKA_BROKERS='localhost:29092','localhost:39092','localhost:49092'
CONTROL_PLANE_URL="localhost:8092/get-topic-map"
